
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

:root{
    --light: #ffffff;
    --dark :   #000000;
    --hover: #efefef;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}
.app{
    padding: 5px;
}
.top{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 5px;
}
.left{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
}
.btn:hover{
    background-color: var(--hover);
}
.feather-menu{
    font-size: 23px;
    color: #000000;
}
.left .img{
    background-image: url(img/images.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.text{
    font-size: 22px;
    padding-left: 4px;
}
.center{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
}
.search{
    width: 90%;
    height: 90%;
    border: 1px solid var(--hover);
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 0 10px 0 var(--hover);
}
.input{
    width: 90%;
    height: 80%;
    border: none;
    margin-left: 10px;
    font-size: 17px;
}
.input:focus{
    outline: none;
}
.right{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}
.right .icon i{
    font-size: 20px;
}
.right .img{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-image: url(img/myFoto.jpg);
    background-size: cover;
}