
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

:root{
    --light: #ffffff;
    --dark :   #000000;
    --hover: #efefef;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}
.none{
    display: none;
}

/* .feather-x{
    display: block;
} */
.app{
    padding: 5px;
}
.top{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 5px;
}
.left{
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 73px;
}
.btn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
}
.btn:hover{
    background-color: var(--hover);
}
.feather-menu{
    font-size: 23px;
    color: #000000;
}
.left .img{
    background-image: url(img/images.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.text{
    font-size: 22px;
    padding-left: 4px;
}
.center{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}
.search{
    width: 83%;
    height: 85%;
    border: 1px solid var(--hover);
    border-radius: 8px;
    background-color: var(--hover);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}
.area{
    width: 6%;
}
.area .btn{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--hover);
    display: flex;
    align-items: center;
    justify-content: center;
}
.area i{
    font-size: 18px;
}
.search:focus-within{
    background-color: var(--light);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 5px var(--hover);
}
.search:focus-within .input,.search:focus-within .btn{
    background-color: var(--light);
}
.search:focus-within .btn:hover{
    background-color: var(--hover);
}
.input{
    width: 85%;
    height: 80%;
    border: none;
    background-color: var(--hover);
    font-size: 17px;
}
.input:focus{
    outline: none;
}
.right{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.right .icon i{
    font-size: 20px;
}
.right .img{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-image: url(img/myFoto.jpg);
    background-size: cover;
}